.productWrapper {
  height: 250px;
  width: 200px;
  padding: 25px;
  float: left;
}

.productImage{

}

.productName{
  font-size: 20px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  width: 200px;

}
.productPrice {
  font-size: 20px;
  height: 25px;
  width: 200px;
  text-align: center;
  line-height: 25px;

}

.addBtn {
  text-align: center;
  width: 200px;
}
