.checkout-button-wrapper {
  width: 300px;
  display: block;
}

.my-checkout-button {
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 110px;
  bottom: 0;
}

.cartProductWrapper {
  height: 100px;
  width: 300px;
  float: left;
}

.productCartImage{

}

.cartImage {
  width: 100px;
  height: 100px;
  float: left;
}

.productCartName{
  padding-left: 15px;
  padding-top: 20px;
  float: left;
  font-size: 20px;
  height: 50px;
  width: 200px;
  color: $white;
  margin: 0;
}
.productCartPrice {
  padding-left: 15px;
  float: left;
  font-size: 20px;
  height: 50px;
  width: 200px;
  color: $white;
  margin: 0;
}

.removeBtn {
  text-align: center;
  width: 200px;
}
