.remove-from-cart {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.remove-from-cart:hover {
  color: red;
}

.checkout-button-wrapper {
  width: 350px;
  display: block;
}

.my-checkout-button {
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 135px;
  bottom: 0;
}

.cartProductWrapper {
  position: relative;
  display:inline-block;
  height: 100px;
  width: 350px;
}

.productCartImage{

}

.cartImage {
  width: 100px;
  height: 100px;
  float: left;
}

.productCartName{
  padding-left: 15px;
  padding-top: 20px;
  float: left;
  font-size: 20px;
  height: 50px;
  width: 250px;
  color: $white;
  margin: 0;
}
.productCartPrice {
  padding-left: 15px;
  float: left;
  font-size: 20px;
  height: 50px;
  width: 250px;
  color: $white;
  margin: 0;
}

.removeBtn {
  text-align: center;
  width: 250px;
}
